:root {
  --color-normal: #d1d1d1;
  --color-fighting: #851d08;
  --color-flying: #3691c2;
  --color-poison: #04700d;
  --color-ground: #5e2720;
  --color-rock: #525252;
  --color-bug: #07008c;
  --color-ghost: #3f008c;
  --color-steel: #8cc9ff;
  --color-fire: #db4500;
  --color-water: #005bdb;
  --color-grass: #62bd19;
  --color-electric: #c9ba10;
  --color-psychic: #b300cf;
  --color-ice: #3672ff;
  --color-dragon: #710fd4;
  --color-dark: #362a42;
  --color-fairy: #d627a7;
  --color-unknown: #0d5212;
  --color-shadow: #242624;
}

.interactive {
  transform: translateY(5px);
  transition: transform 0.8s;
}

.interactive:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.hover-info:hover {
  color: var(--bs-info);
}
